.bitcoin-img-container {
  width: 100%;
  min-width: 320px;
  height: 50vh;
  text-align: center;
  background-image: url('../assets/img/bitcoinbaby.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bitcoin-img-container h2 {
  padding-top: 60px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

.main-plans-container {
  width: 100%;
  min-width: 320px;
  padding-bottom: 70px;
  text-align: center;
}
.plans__title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 30px;
}
.plans__title h2 {
  padding-top: 50px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}
.plans__title p {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #6d6c6c;
}

.plans-container__slider {
  display: flex;
  height: 316px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}
.plans-container__slider::-webkit-scrollbar {
  background-color: var(--soft-orange);
  height: 3px;
}
.plans-container__slider::-webkit-scrollbar-thumb {
  background-color: var(--bitcoin-orange);
}
.plans-container__card {
  position: relative;
  scroll-snap-align: center;
  width: 60%;
  min-width: 190px;
  max-width: 300px;
  height: 250px;
  margin: 50px 5px 0;
  padding: 0 15px;
  background-color: var(--just-white);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}
.recommended {
  position: absolute;
  width: 120px;
  height: 31px;
  top: -15px;
  left: calc(50% - 60px);
  padding: 6px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--bitcoin-orange);
  border-radius: 8px;
  color: var(--black);
}
.recommended--basic {
  background-color: var(--secondary-blue);
}
.recommended--plus {
  background-color: var(--warm-black);
  color: var(--just-white);
}
.plan-card__title {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: black;
}

.plan-card__price {
  padding: 5px 0;
  font-size: 5.2rem;
  font-weight: bold;
  line-height: 5.3rem;
  color: black;
}
.plan-card__price span {
  position: relative;
  bottom: 29px;
  font-size: 1.2rem;
  font-weight: 500;
}
.plan-card__saving {
  font-size: 1.2rem;
  color: #757575;
}
.plan-card__cta {
  width: 150px;
  height: 48px;
  margin-top: 20px;
  background-color: var(--off-white);
  border: 2px solid var(--bitcoin-orange);
  border-radius: 4px;
  font-family: 'DM sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  color: var(--black);
}
.plan-card__cta span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../assets/icons/orange-right-arrow.svg");
  vertical-align: text-bottom;
}
