.main-product-detail {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: var(--warm-black);
  display: flex;
  flex-direction: column;
}
.product-detail__patata-logo {
  position: absolute;
  width: 40px;
  height: 25px;
  top: -10px;
  align-self: center;
  background-image: url('../assets/icons/batata.svg');
}
.product-detail__title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}
.product-detail__title h2 {
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}
.product-detail__title p {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #878585;
}
.product-detail__card {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  min-height: 150px;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--black);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
@mixin icon-card {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.product-detail__card .clock {
  @include icon-card();
  background-image: url('../assets/icons/clock.svg');
}
.product-detail__card .eye {
  @include icon-card();
  background-image: url('../assets/icons/eye.svg');
}
.product-detail__card .dollar {
  @include icon-card();
  background-image: url('../assets/icons/dollar-sign.svg');
}
.product-detail__card .check {
  @include icon-card();
  background-image: url('../assets/icons/check-circle.svg');
}
.product__card-title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--just-white);
}
.product__card-body {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #9f9f9f;
}